<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BasePointNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,22}</string>
                <key>spriteSourceSize</key>
                <string>{180,22}</string>
                <key>textureRect</key>
                <string>{{769,483},{180,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{640,893},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>appraise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{504,896},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changci_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,13}</string>
                <key>spriteSourceSize</key>
                <string>{100,13}</string>
                <key>textureRect</key>
                <string>{{785,804},{100,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{696,726},{69,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>convert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{351,833},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{504,833},{61,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fastbegin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,57}</string>
                <key>spriteSourceSize</key>
                <string>{189,57}</string>
                <key>textureRect</key>
                <string>{{594,804},{189,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{351,906},{63,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{120,16}</string>
                <key>textureRect</key>
                <string>{{769,665},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{581,863},{41,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{705,878},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobbyBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{427,833},{63,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,13}</string>
                <key>spriteSourceSize</key>
                <string>{73,13}</string>
                <key>textureRect</key>
                <string>{{632,878},{71,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{428,898},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,13}</string>
                <key>spriteSourceSize</key>
                <string>{100,13}</string>
                <key>textureRect</key>
                <string>{{594,787},{100,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>online.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,13}</string>
                <key>spriteSourceSize</key>
                <string>{73,13}</string>
                <key>textureRect</key>
                <string>{{632,863},{73,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pmdbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,30}</string>
                <key>spriteSourceSize</key>
                <string>{800,30}</string>
                <key>textureRect</key>
                <string>{{1,971},{800,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{567,906},{61,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roomBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,242}</string>
                <key>spriteSourceSize</key>
                <string>{173,242}</string>
                <key>textureRect</key>
                <string>{{1,483},{173,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,242}</string>
                <key>spriteSourceSize</key>
                <string>{173,242}</string>
                <key>textureRect</key>
                <string>{{1,727},{173,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,241}</string>
                <key>spriteSourceSize</key>
                <string>{173,241}</string>
                <key>textureRect</key>
                <string>{{351,483},{173,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roomBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,242}</string>
                <key>spriteSourceSize</key>
                <string>{173,242}</string>
                <key>textureRect</key>
                <string>{{176,483},{173,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,242}</string>
                <key>spriteSourceSize</key>
                <string>{173,242}</string>
                <key>textureRect</key>
                <string>{{176,727},{173,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,241}</string>
                <key>spriteSourceSize</key>
                <string>{173,241}</string>
                <key>textureRect</key>
                <string>{{594,483},{173,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomBg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,241}</string>
                <key>spriteSourceSize</key>
                <string>{173,241}</string>
                <key>textureRect</key>
                <string>{{351,658},{173,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,13}</string>
                <key>spriteSourceSize</key>
                <string>{137,13}</string>
                <key>textureRect</key>
                <string>{{787,665},{137,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{594,726},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{641,726},{45,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>c.png</string>
            <key>size</key>
            <string>{802,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30afa972023a0a7252d3fa0b8b74a1d5:3c09de3e9dae50d162b32c5cf80beda9:56b9c3cd1e1a410efc97b6122826273a$</string>
            <key>textureFileName</key>
            <string>c.png</string>
        </dict>
    </dict>
</plist>
